body {
    margin: 0px;
    overflow-x: hidden;
}

header {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: url(./green-snake-plant-on-white-ceramic-pot-1445416.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    ;
}

#head {
    position: absolute;
    bottom: 15%;
    right: 280px;
    color: white;
    font-size: 80px;
    font-family: 'Righteous', cursive;
}

#sev {
    position: absolute;
    right: 310px;
    bottom: 40%;
    border-radius: 50%;
}

h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 35px;
}

p {
    font-size: 20px;
}

main {
    margin: 0px;
    position: absolute;
    border-top: 12px solid #c78213;
    background: url(./pink-clouds-1831234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    padding: 0px 20px;
}

#section-1 {
    width: 30vw;
    width: 40%;
}

#section-2 {
    align-self: center;
    width: 40%;
}

#section-3 {
    align-self: flex-end;
    width: 40%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 0;
    text-align: center;
}

.logo {
    display: inline-block;
    color: #99B2AE;
    font-size: 50px;
    letter-spacing: 50px;
    text-decoration: none;
    padding: 5px;
}

.logo:hover {
    color: #4F6367;
}

#girl {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    padding: 10px;
}

#calendar {
    position: absolute;
    top: 0;
    right: 100px;
    width: 300px;
    margin-top: 25px;
}

@media screen and (max-width: 1400px) {
    #section-2 {
        padding: 10px;
    }
    #girl {
        width: 350px;
    }
    .logo {
        font-size: 30px;
    }
    #calendar {
        right: 50px;
    }
}

@media screen and (max-width: 960px) {
    #sev {
        right: 150px;
    }
    #head {
        right: 135px;
        font-size: 60px;
    }
    #calendar {
        width: 260px;
    }
    #girl {
        width: 250px;
    }
    main {
        position: relative;
    }
    footer {
        text-align: unset;
        left: 250px;
    }
}