body {
    margin: 0px;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: url(./green-snake-plant-on-white-ceramic-pot-1445416.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    ;
}

#head {
    position: absolute;
    bottom: 15%;
    right: 280px;
    color: white;
    font-size: 80px;
    font-family: 'Righteous', cursive;
}

#sev {
    position: absolute;
    right: 310px;
    bottom: 40%;
    border-radius: 50%;
}

h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 35px;
}

.click {
    color: #c78213;
}

p {
    font-size: 20px;
}

main {
    margin: 0px;
    position: absolute;
    border-top: 12px solid #c78213;
    background: url(./pink-clouds-1831234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    padding: 0px 20px;
}

#section-1 {
    width: 30vw;
    width: 40%;
}

#section-2 {
    align-self: center;
    width: 40%;
}

#section-3 {
    align-self: flex-end;
    width: 40%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.logo {
    display: inline-block;
    color: #99B2AE;
    font-size: 50px;
    letter-spacing: 50px;
    text-decoration: none;
    padding: 5px;
}

.logo:hover {
    color: #4F6367;
    text-decoration: none;
}

#girl {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
}

#girl:hover {
    display: none;
}

#calendar {
    position: absolute;
    top: 0;
    right: 100px;
    width: 300px;
    margin-top: 25px;
}

#google {
    position: absolute;
    width: 320px;
    border-radius: 30px;
    bottom: 65px;
    left: 80px;
}

@media screen and (max-width: 768px) {
    #sev {
        left: 230px;
        right: unset
    }
    #head {
        right: unset;
        left: 200px;
        bottom: 25%;
    }
    #girl {
        width: 400px;
        padding: 70px 10px;
    }
    #section-1 {
        width: 50vw;
    }
    #section-2 {
        width: unset;
    }
    #section-3 {
        padding-bottom: 70px;
    }
    #calendar {
        right: 50px;
    }
    #google {
        width: 290px;
        bottom: 115px;
        left: 45px;
    }
}

@media screen and (max-width: 480px) {
    #head {
        right: 135px;
        font-size: 60px;
    }
    #calendar {
        display: none;
    }
    #sev {
        left: 60px;
        width: 240px;
    }
    #head {
        width: 90%;
        display: flex;
        justify-content: center;
        bottom: 130px;
        left: 4px;
    }
    #section-1 {
        width: unset;
        padding-top: 50px;
        padding-left: 15px;
    }
    #section-2 {
        width: unset;
        padding-left: 15px;
    }
    #section-3 {
        width: unset;
        padding-left: 15px;
    }
    p {
        font-size: 10px;
    }
    h4 {
        font-size: 18px;
    }
    #container {
        justify-content: unset;
    }
    #girl {
        width: 250px;
        bottom: 65px;
        left: 60px;
        padding: unset;
    }
    #google {
        display: none;
    }
}